* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding-bottom: 35px;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    max-width: 20em;
    height: 31em;
    border-radius: 15px;
}

.qr-img {
    width: 100%;
    max-width: 15rem; 
    border-radius: 15px;
    margin-bottom: 15px;
}
