* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card {
    padding: 16px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    width: 250px;
}

.qr-img {
    max-width: 100%; 
    border-radius: 15px;
    margin: 0px 0px 9px 0px;
}

.qr-heading {
    color: hsl(218, 44%, 22%);
    font-size: 1.3rem;
    text-align: center;
    line-height: 1.74rem;
    align-self: center;
    padding: 0 5px;
}

.qr-description {
    color:  hsl(220, 15%, 55%);
    text-align: center;
    padding: 0 30px;
    font-size: 0.95rem;
}