* {
    box-sizing: border-box;
}

body {
    background-color: hsl(212, 45%, 89%);
    font-size: 15px;
    font-family: "Outfit", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    max-width: 20rem;
    border-radius: 10px;
}

.text {
    padding: 5px;

}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 15rem; 
    padding: 10px;
    border-radius: 20px;
}
